<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu">
    <li class="header">MAIN NAVIGATION</li>
    <li class="treeview">
      <a>
        <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
      </a>
      <ul class="treeview-menu">
        <li ui-sref-active="active"><a ui-sref="app.dashboard.v1"><i class="fa fa-circle-o"></i> Dashboard v1</a></li>
        <li ui-sref-active="active"><a ui-sref="app.dashboard.v2"><i class="fa fa-circle-o"></i> Dashboard v2</a></li>
      </ul>
    </li>
    <li class="treeview">
      <a>
        <i class="fa fa-files-o"></i>
        <span>Layout Options</span>
        <span class="pull-right-container">
          <span class="label label-primary pull-right">4</span>
        </span>
      </a>
      <ul class="treeview-menu">
        <li ui-sref-active="active"><a ui-sref="top-nav"><i class="fa fa-circle-o"></i> Top Navigation</a></li>
        <li ui-sref-active="active"><a ui-sref="boxed"><i class="fa fa-circle-o"></i> Boxed</a></li>
        <li ui-sref-active="active"><a ui-sref="app.layout.fixed"><i class="fa fa-circle-o"></i> Fixed</a></li>
        <li ui-sref-active="active"><a ui-sref="app.layout.collapsed"><i class="fa fa-circle-o"></i> Collapsed Sidebar</a></li>
      </ul>
    </li>
    <li ui-sref-active="active">
      <a ui-sref="app.widgets">
        <i class="fa fa-th"></i> <span>Widgets</span>
        <span class="pull-right-container">
          <small class="label pull-right bg-green">new</small>
        </span>
      </a>
    </li>
    <li class="treeview">
      <a>
        <i class="fa fa-pie-chart"></i>
        <span>Charts</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
      </a>
      <ul class="treeview-menu">
        <li ui-sref-active="active"><a ui-sref="app.charts.chartjs"><i class="fa fa-circle-o"></i> ChartJS</a></li>
        <li ui-sref-active="active"><a ui-sref="app.charts.morris"><i class="fa fa-circle-o"></i> Morris</a></li>
        <li ui-sref-active="active"><a ui-sref="app.charts.flot"><i class="fa fa-circle-o"></i> Flot</a></li>
        <li ui-sref-active="active"><a ui-sref="app.charts.inline"><i class="fa fa-circle-o"></i> Inline charts</a></li>
      </ul> 
    </li>
    <li class="treeview">
      <a>
        <i class="fa fa-laptop"></i>
        <span>UI Elements</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
      </a>
      <ul class="treeview-menu">
        <li ui-sref-active="active"><a ui-sref="app.ui.general"><i class="fa fa-circle-o"></i> General</a></li>
        <li ui-sref-active="active"><a ui-sref="app.ui.icons"><i class="fa fa-circle-o"></i> Icons</a></li>
        <li ui-sref-active="active"><a ui-sref="app.ui.buttons"><i class="fa fa-circle-o"></i> Buttons</a></li>
        <li ui-sref-active="active"><a ui-sref="app.ui.sliders"><i class="fa fa-circle-o"></i> Sliders</a></li>
        <li ui-sref-active="active"><a ui-sref="app.ui.timeline"><i class="fa fa-circle-o"></i> Timeline</a></li>
        <li ui-sref-active="active"><a ui-sref="app.ui.modals"><i class="fa fa-circle-o"></i> Modals</a></li>
      </ul>
    </li>
    <li class="treeview">
      <a>
        <i class="fa fa-window-restore"></i>
        <span>UI Bootstrap</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
      </a>
      <ul class="treeview-menu">
        <li ui-sref-active="active"><a ui-sref="app.uibootstrap.tabs"><i class="fa fa-circle-o"></i> Tabs</a></li>
        <li ui-sref-active="active"><a ui-sref="app.uibootstrap.accordion"><i class="fa fa-circle-o"></i> Accordion</a></li>
        <li ui-sref-active="active"><a ui-sref="app.uibootstrap.carousel"><i class="fa fa-circle-o"></i> Carousel</a></li>
      </ul>
    </li>
    <li class="treeview">
      <a>
        <i class="fa fa-book"></i>
        <span>Angular Plugin</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
      </a>
      <ul class="treeview-menu">
        <li ui-sref-active="active"><a ui-sref="app.angularplugin.fileupload"><i class="fa fa-circle-o"></i> FileUpload</a></li>
        <li ui-sref-active="active"><a ui-sref="app.angularplugin.accordion"><i class="fa fa-circle-o"></i> Accordion</a></li>
        <li ui-sref-active="active"><a ui-sref="app.angularplugin.carousel"><i class="fa fa-circle-o"></i> Carousel</a></li>
      </ul>
    </li>
    <li class="treeview">
      <a>
        <i class="fa fa-edit"></i> <span>Forms</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
      </a>
      <ul class="treeview-menu">
        <li ui-sref-active="active"><a ui-sref="app.forms.general"><i class="fa fa-circle-o"></i> General Elements</a></li>
        <li ui-sref-active="active"><a ui-sref="app.forms.advance"><i class="fa fa-circle-o"></i> Advanced Elements</a></li>
        <li ui-sref-active="active"><a ui-sref="app.forms.editors"><i class="fa fa-circle-o"></i> Editors</a></li>
      </ul>
    </li>
    <li class="treeview">
      <a>
        <i class="fa fa-table"></i> <span>Tables</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
      </a>
      <ul class="treeview-menu">
        <li ui-sref-active="active"><a ui-sref="app.tables.simpletables"><i class="fa fa-circle-o"></i> Simple tables</a></li>
        <li ui-sref-active="active"><a ui-sref="app.tables.datatables"><i class="fa fa-circle-o"></i> Data tables</a></li>
      </ul>
    </li>
    <li ui-sref-active="active">
      <a ui-sref="app.calendar">
        <i class="fa fa-calendar"></i> <span>Calendar</span>
        <span class="pull-right-container">
          <small class="label pull-right bg-red">3</small>
          <small class="label pull-right bg-blue">17</small>
        </span>
      </a>
    </li>
    <li class="treeview">
      <a>
        <i class="fa fa-envelope"></i> <span>Mailbox</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
          <small class="label pull-right bg-yellow">12</small>
          <small class="label pull-right bg-green">16</small>
          <small class="label pull-right bg-red">5</small>
        </span>
      </a>
      <ul class="treeview-menu">
        <li ui-sref-active="active"><a ui-sref="app.mailbox.inbox"><i class="fa fa-circle-o"></i> Inbox</a></li>
        <li ui-sref-active="active"><a ui-sref="app.mailbox.compose"><i class="fa fa-circle-o"></i> Compose</a></li>
        <li ui-sref-active="active"><a ui-sref="app.mailbox.read"><i class="fa fa-circle-o"></i> Read</a></li>
      </ul>
    </li>
    <li class="treeview">
      <a>
        <i class="fa fa-folder"></i> <span>Examples</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
      </a>
      <ul class="treeview-menu">
        <li ui-sref-active="active"><a ui-sref="app.examples.invoice"><i class="fa fa-circle-o"></i> Invoice</a></li>
        <li ui-sref-active="active"><a ui-sref="app.examples.profile"><i class="fa fa-circle-o"></i> Profile</a></li>
        <li ui-sref-active="active"><a ui-sref="login"><i class="fa fa-circle-o"></i> Login</a></li>
        <li ui-sref-active="active"><a ui-sref="register"><i class="fa fa-circle-o"></i> Register</a></li>
        <li ui-sref-active="active"><a ui-sref="lockscreen"><i class="fa fa-circle-o"></i> Lockscreen</a></li>
        <li ui-sref-active="active"><a ui-sref="app.examples.404"><i class="fa fa-circle-o"></i> 404 Error</a></li>
        <li ui-sref-active="active"><a ui-sref="app.examples.500"><i class="fa fa-circle-o"></i> 500 Error</a></li>
        <li ui-sref-active="active"><a ui-sref="app.examples.blank"><i class="fa fa-circle-o"></i> Blank Page</a></li>
        <li ui-sref-active="active"><a ui-sref="app.examples.pace"><i class="fa fa-circle-o"></i> Pace Page</a></li>
      </ul>
    </li>
    <li class="treeview">
      <a>
        <i class="fa fa-share"></i> <span>Multilevel</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
      </a>
      <ul class="treeview-menu">
        <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
        <li>
          <a href="#"><i class="fa fa-circle-o"></i> Level One
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-circle-o"></i> Level Two</a></li>
            <li>
              <a href="#"><i class="fa fa-circle-o"></i> Level Two
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
      </ul>
    </li>
    <li ui-sref-active="active"><a ui-sref="documentation"><i class="fa fa-book"></i> <span>Documentation</span></a></li>
    <li class="header">LABELS</li>
    <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
    <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
    <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>
</ul>